nav {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:1.5em;
  gap: 0.5em;
  height: 3.50rem;
}

.logo--icon {
    height: 2em;
    color: #FFFFFF;
  
  }

  .nav--title {
    font-size: 1em;
    color: #FFFFFF;
  }

